/*BOX-SIZING MODEL TO BORDER*/
*, *:before, *:after {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
}

.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:space-between;
	padding: 1rem 3rem;
}

#btnLogOut{
    visibility: hidden;
}

#error{
    display: none;
}

.login-screen {
	text-align: center;
	max-width: 10rem;
	padding: 2rem;
	margin: 2rem auto;
}

.login-screen input, .login-screen button{
	margin: .5rem auto;
}

p .strong {
	font-weight: 600;
}

.red-text {
	color:	#ff0000;
}

.purple {
	color: #ab1795;
}

.purple-btn {

	border: 2px solid #ab1795;
	color: #ab1795;
	padding: .5rem;
	border-radius:.5rem;
}

.purple-btn:hover {
	background-color:  #ab1795;
	color: #ffff;
}
.hide {
	display: none;
}